name: Sync Fork

on:
  schedule:
    - cron: '0 6 * * *' # every day at 06:00
  workflow_dispatch: # on button click

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - uses: tgymnich/fork-sync@v2.0
        with:
          base: main
          head: main
          auto_merge: false
          auto_approve: false
          
